# ignore all pdflatex output and such
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.acn
*.acr
*.alg
*.syg
*.xdy
*.tex.swp
*.tex~

# system
.DS_Store
.Trashes
.com.apple.timemachine.supported
*.swp

# Shell Scripts
*.bat
*.sh

# pdfs
pflichtenheft/*.pdf
design/*.pdf
design/diagrams/*.pdf
implementation/*.pdf

# eclipse specific file
.classpath
.project
.settings

# Java
*.class
bin/

# Log file
log.html
log.html.*

# exceptions
!idxStyle.ist
!implementation/code/src/games/*.class

# miscellaneous
*.un~
*.lck
*.*~
