# ignore all pdflatex output and such
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.acn
*.acr
*.alg
*.syg
*.xdy
*.tex.swp
*.tex~

# system
.DS_Store
.Trashes
.com.apple.timemachine.supported
*.swp

# pdfs
pflichtenheft/*.pdf
design/*.pdf
design/diagrams/*.pdf

# exceptions
!idxStyle.ist

# miscellaneous
*.un~
